<p>Detail book</p>
<button class="btn btn-square btn-primary btn-sm" routerLink="/books">List books</button>
<!--<div>-->
<!--  <p>{{book.title}}</p>-->
<!--  <p>{{book.author}}</p>-->
<!--  <p>{{book.description}}</p>-->
<!--</div>-->
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Title Book</th>
    <th scope="col">Author</th>
    <th scope="col">Description</th>

  </tr>
  </thead>
  <tbody>
  <tr >
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>{{book.description}}</td>
  </tr>
  </tbody>
</table>
